html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

header {
	margin: 0px;
	padding: 1em;
	background:#333333;
	color:#FFFFFF;
}
header h1 {
	margin:0px;
	color:#f9ac04;
}
h2 {
	margin-top:0.8em;
	margin-bottom:0.1em;
	font-size:1.1em;
}

/* dark header: #222222 */
main {
	padding:1.5em;
	padding-top:0.5em;
}

table {
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 0.2em;
	padding-left:0.3em;
	padding-right:0.3em;
}

thead th {
	background-color:#DDDDDD;
}
tbody th {
	text-align:left;
}

#loginblock {
	position:absolute;
	top:0px;
	right:0px;
	margin:1em;
	text-align:right;
}
#loginblock input {
	background: none;
	border: none;
	padding: 0;
	text-decoration:underline;
	color:#FFFFFF;
	cursor:pointer;
}

#bar .icon {
	vertical-align:bottom;
}

#bar {
	height: 24px;
	right: 0px;
	bottom: 0px;
	position: fixed;
	overflow: hidden;
	vertical-align:bottom;
	padding:0px;
	margin:0px;
	padding-right:6px;
}

#bar a {
	text-decoration:none;
	color: #2161F1;
}
#bar a .text {
	text-decoration:underline;
	color: #2161F1;
}

#pingtool {
	display:inline-block;
	vertical-align:bottom;
	padding:0px;
	margin:0px;
}
#pinggraph {
	display:inline-block;
	vertical-align:bottom;
	padding:0px;
	margin:0px;
}

.pingbar {
	display:inline-block;
	width:12px;
	height:0px;
	background-color:#000000;
	vertical-align:bottom;
	padding:0px;
	margin:0px;
}

#pingnumeric {
	display:inline-block;
	vertical-align:bottom;
	width:30px;
	color:#666666;
	font-family: monospace;
	text-align:right;
	padding:0px;
	margin:0px;
}

.diagdetail {
	margin:0px;
	color:#444444;
	font-size:0.8em;
}
.diagok {
	font-weight:bold;
	color:#00EF00;
}
.diagfail {
	font-weight:bold;
	color:#FF0000;
}
.diagwarn {
	font-weight:bold;
	color:#EA9500;
}
.diagitem {
	margin-bottom:0.5em;
}
.diagitem ul, .diagitem p {
	margin-bottom:0.1em;
	margin-top:0.1em;
}

.successmsg, .errormsg {
	padding: 1em;
	margin-top:1em;
	font-weight:bold;	
}

.successmsg {
	border: 1px solid #22CC22;
	background-color: #DDFFDD;
}

.errormsg {
	border: 1px solid #CC2222;
	background-color: #FFDDDD;
}

#confinfo {
	text-align:right;
}

.conflink {
	border: 1px solid #CCCCCC;
	padding: 0.5em;
	font-size: 0.8em;
	font-family: "Lucida Console","Lucida Sans Typewriter",monaco,"Bitstream Vera Sans Mono",monospace;
}