html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#bar {
	height: 24px;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: none;
	padding-bottom: 24px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
